[Unit]
Description=Hetzner Dynamic DNS Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=python3 -u /usr/local/bin/hetzner-ddns.py

[Install]
WantedBy=multi-user.target
